<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body onload="loadPage()">
    <!-- TO DO: figure out this -->
    <h1 id="readout"></h1> 
    
    <div buttons>
        {% for row in range(5) %}
            {% for col in range(9) %}
                <!-- special -->
                {% if row == 0 and col == 0 %}
                    <button id="button-back" onclick="buttonClick(this.id)" disabled><span class="button-text">BACK</span></button>
                {% elif row == 0 and col == 1 %}
                    <button id="button-clear" onclick="buttonClick(this.id)"><span class="button-text">CLEAR</span></button>
                {% elif row == 0 and col == 8 %}
                    <button id="button-run" onclick="buttonClick(this.id)" disabled><span class="button-text">RUN</span></button>
                {% elif row == 1 and col == 0 %}
                    <button id="button-home" onclick="buttonClick(this.id)" disabled><span class="button-text">HOME</span></button>
                <!-- pronouns (7) -->
                {% elif row == 1 and col == 1 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">I</span><br><img id="image({{row}},{{col}})" src=""></button>
                {% elif row == 2 and col == 0 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">you</span><br><img id="image({{row}},{{col}})" src=""></button>
                {% elif row == 2 and col == 1 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">it</span><br><img id="image({{row}},{{col}})" src=""></button>  
                {% elif row == 3 and col == 0 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">he</span><br><img id="image({{row}},{{col}})" src=""></button>
                {% elif row == 3 and col == 1 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">she</span><br><img id="image({{row}},{{col}})" src=""></button>     
                {% elif row == 4 and col == 0 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">we</span><br><img id="image({{row}},{{col}})" src=""></button>
                {% elif row == 4 and col == 1 %}
                    <button id="button({{row}},{{col}})" class="pronouns" onclick="buttonClick(this.id)"><span class="button-text">they</span><br><img id="image({{row}},{{col}})" src=""></button>        
                <!-- misc constant words (4) -->
                {% elif row == 1 and col == 8 %}
                    <button id="button({{row}},{{col}})" class="misc_constant" onclick="buttonClick(this.id)"><span class="button-text">the</span><br><img id="image({{row}},{{col}})" src=""></button>  
                {% elif row == 2 and col == 8 %}
                    <button id="button({{row}},{{col}})" class="misc_constant" onclick="buttonClick(this.id)"><span class="button-text">is</span><br><img id="image({{row}},{{col}})" src=""></button>  
                {% elif row == 3 and col == 8 %}
                    <button id="button({{row}},{{col}})" class="misc_constant" onclick="buttonClick(this.id)"><span class="button-text">to</span><br><img id="image({{row}},{{col}})" src=""></button>  
                {% elif row == 4 and col == 8 %}
                    <button id="button({{row}},{{col}})" class="misc_constant" onclick="buttonClick(this.id)"><span class="button-text">and</span><br><img id="image({{row}},{{col}})" src=""></button>  
                <!-- variable words (non-ML and ML) -->
                {% else %}
                    <button id="button({{row}},{{col}})" class="variable" onclick="buttonClick(this.id)"><span class="button-text"></span><br><img id="image({{row}},{{col}})" src=""></button>
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>

    <script>
        const gridWidth = 9
        const gridHeight = 5

        readoutState = ""
        categoryHistory = []

        function loadPage() {
            buttonClick("button-home")
        }

        function capitalizeFirstLetter(val) {
            return String(val).charAt(0).toUpperCase() + String(val).slice(1)
        }

        function buttonClick(buttonID) {
            const button = document.getElementById(buttonID)
            const span = button.querySelector('.button-text')
            const readout = document.getElementById("readout")

            buttonName = span.textContent

            if (buttonName == "HOME") {
                categoryHistory = []
            }
            else if (buttonName == "BACK") {
                categoryHistory.pop()
                buttonName = categoryHistory[categoryHistory.length - 1]
            }

            if (buttonName == "CLEAR") {
                readout.innerHTML = ""
            }

            else {
                isCategory = buttonName == buttonName.toUpperCase() && buttonName != "I"

                if (isCategory) {
                    if (buttonName == "HOME") {
                        document.getElementById("button-home").disabled = true
                        document.getElementById("button-back").disabled = true
                    }
                    else {
                        document.getElementById("button-home").disabled = false
                        document.getElementById("button-back").disabled = false                        
                    }
                    categoryHistory.push(buttonName)
                }
                else {
                    readout.innerHTML += buttonName + " "
                    readout.innerHTML = capitalizeFirstLetter(readout.innerHTML)
                }

                fetch("/button-press", {
                    method: "POST", 
                    body: JSON.stringify({
                        is_category : isCategory,
                        button_name : buttonName,
                        readout_state : readoutState,
                        category_history : categoryHistory
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (isCategory) {
                        setNonMLButtons(data.nonml)
                    }
                    setMLButtons(data.ml)
                })
                .catch(error => {console.log("Error: ", error)})
            }

            setButtonImages()
        }
        function setNonMLButtons(buttons) {
            buttonArrayFlat = buttons.split("|")
            let buttonArray = []
            while(buttonArrayFlat.length > 0) buttonArray.push(buttonArrayFlat.splice(0,4));

            for (let row = 0; row < buttonArray.length; row++) {
                for (let col = 0; col < buttonArray[row].length; col++) {
                    trueCol = col + 2
                    const button = document.getElementById("button("+row+","+trueCol+")")

                    if (button == null) {
                        console.log("error setting button at row " + row + " and column " + col)
                    }
                    
                    button.querySelector('.button-text').textContent = buttonArray[row][col]
                }
            }
        }
        function setMLButtons(buttons) {
            buttonArrayFlat = buttons.split("|")
            let buttonArray = []
            while(buttonArrayFlat.length > 0) buttonArray.push(buttonArrayFlat.splice(0,2));

            for (let row = 0; row < buttonArray.length; row++) {
                for (let col = 0; col < buttonArray[row].length; col++) {
                    trueCol = col + 6
                    const button = document.getElementById("button("+row+","+trueCol+")")

                    if (button == null) {
                        console.log("error setting button at row " + row + " and column " + col)
                    }
                    
                    button.querySelector('.button-text').textContent = buttonArray[row][col]
                }
            }
        }
        function setButtonImages() {
            for (let row = 0; row < gridHeight; row++) {
                for (let col = 0; col < gridWidth; col++) {  
                    const button = document.getElementById("button("+row+","+col+")")

                    if (button == null) {
                        continue
                    }

                    buttonName = button.querySelector('.button-text').textContent

                    console.log(row)
                    console.log(col)
                    console.log(buttonName)

                    if (!(buttonName == buttonName.toUpperCase() && buttonName != "I")) {
                        const image = document.getElementById("image("+row+","+col+")")

                        if (image == null) {
                            console.log("skipped")
                            continue
                        }

                        image.src = "/static/"+buttonName+".png"
                    }
                }
            }
        }
    </script>
</body>
</html>