<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="readout"></h1>

    {% for row in range(5) %}
        {% for col in range(9) %}
            <!-- special -->
            {% if row == 0 and col == 0 %}
                <button id="button-back" onclick="buttonClick(this.id)">BACK</button>
            {% elif row == 0 and col == 1 %}
                <button id="button-clear" onclick="buttonClick(this.id)">CLEAR</button>
            {% elif row == 0 and col == 8 %}
                <button id="button-run" onclick="buttonClick(this.id)">RUN</button>
            {% elif row == 1 and col == 0 %}
                <button id="button-home" onclick="buttonClick(this.id)">HOME</button>
            <!-- pronouns (7) -->
            {% elif row == 1 and col == 1 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">I</button>
            {% elif row == 2 and col == 0 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">you</button>
            {% elif row == 2 and col == 1 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">it</button>  
            {% elif row == 3 and col == 0 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">he</button>
            {% elif row == 3 and col == 1 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">she</button>     
            {% elif row == 4 and col == 0 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">we</button>
            {% elif row == 4 and col == 1 %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">they</button>        
            <!-- misc constant words (4) -->
            
            <!-- variable words -->
            {% else %}
                <button id="button({{row}},{{col}})" onclick="buttonClick(this.id)">({{col}}, {{row}})</button>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    
    <script>
        const gridWidth = 9
        const gridHeight = 5

        function buttonClick(buttonID) {
            const button = document.getElementById(buttonID)
            const readout = document.getElementById("readout")

            if (button.textContent == "CLEAR") {
                readout.innerHTML = "";
            }
            else if (button.textContent == "BACK") {
                //TO DO: go to the page that contains the current page (disabled on home page)
            }
            else if (button.textContent == "RUN") {
                //TO DO: show a message reading "Not Implemented In Demo"
            }
            else if (button.textContent == "HOME") {
                //TO DO: go to the home page (disabled on home page)
            }
            else {
                readout.innerHTML += button.textContent + " ";

                fetch("/button-press", {
                    method: "POST", 
                    body: JSON.stringify({
                        button_name : button.textContent
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(response => response.json())
                .then(data => {console.log(data)})
                .catch(error => {console.log("Error: ", error)})
            }
        }
        function setButtons(buttonArray) {
            for (let row = 0; row < buttonArray.length; row++) {
                for (let col = 0; col < buttonArray[row].length; col++) {
                    if ( (row == 0 && col == 0) || (row == 0 && col == 1) || (row == 0 && col == gridWidth - 1) ) {
                        //special button (don't change)
                        continue
                    }
                    const button = document.getElementById("button("+row+","+col+")")

                    if (button == null) {
                        console.log(row + " " + col)
                    }
                    
                    button.textContent = buttonArray[row][col]
                }
            }
        }
    </script>
</body>
</html>